go 1.27.1

use (
	.
	./framework
	./framework/connectors/mysql
	./framework/connectors/postgres
	./framework/connectors/ssh
	./framework/connectors/sqlite
	./internal/core
	./internal/kernel
	./internal/service
	./pkg
	./third-party/aws
	./third-party/codec/hcl
	./third-party/codec/protobuf
	./third-party/codec/yaml
	./third-party/db/writer/clickhouse
	./third-party/db/writer/mysql
	./third-party/db/writer/redis
	./third-party/transform
	./third-party/x-crypto
)
